


<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">

<script src="https://code.jquery.com/jquery-3.3.1.min.js">

	</script>



</head>
<body>
<button onclick="getLibros()">traer libro</button>

<table>
	<tbody id="body">
		
<tr>
	<td>Nombre</td>
	<td>Descripciòn</td>
</tr>

	</tbody>

</table>




<script>
		function getLibros(){
			var libros = [];
	$.ajax({

	url: 'http://localhost:3000/servicio',
	method: 'get'
}).done(function(response){
	
	libros = response.libros;
	body = document.getElementById('body')
	libros.forEach(function(libro){

		console.log(libro);

		tr = document.createElement('tr')
		td = document.createElement('td');
		td2 = document.createElement('td2');
		td.append(libro.titulo);
		td2.append(libro.descripcion);

		tr.appendChild(td)
		tr.appendChild(td2)

		body.appendChild(tr)

		


	


	});
})

		
}


</script>
</body>
</html>